#brandF2G{
    font-family:cursive;
    color: white;
    margin: 0 20px 0 15px;
}
.userOptions{
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
a > h6 {
    margin: auto;
    padding: 5px 0;
}
a > h6:hover {
    color:brown;
    transition: ease-in 3ms;
}
#logo{  
    width: 120px;
    height: 100px;
}
.contact{
    color: white;
}
.cart {
    margin: auto;
    padding: 0 1.5rem;
}
.icon_car:hover {
    color:brown;
    transition: ease-in 3ms;
}
.cart > a {
    color:white;
}